!*.cson
atom/*/
xonotic/data/data
xonotic/data/dlcache
WebIde100/system
PyCharm50/system

dimensions.xml
recentProjectDirectories.xml
feature.usage.statistics.xml
statistics.application.usages.xml
window.manager.xml
availables.xml

/installs/atom
/installs/jdk
/installs/chefpulgins
/installs/composer
/installs/filewatch
/installs/chrome
/installs/hipchat
/installs/docker-compose
/installs/docker
/installs/virtual
/installs/basics
/installs/sudo
/installs/node
/installs/php
/installs/pycharm
/installs/update
/installs/sublime
/installs/chef-repo
/directories
/backup
/dockercfg
/move
