'atom-text-editor':
  'alt-c':      'markdown-folder:cycle'
  'ctrl-alt-c': 'markdown-folder:cycleall'
  'alt-t':      'markdown-folder:toggle'
  'ctrl-alt-1': 'markdown-folder:foldall-h1'
  'ctrl-alt-2': 'markdown-folder:foldall-h2'
  'ctrl-alt-3': 'markdown-folder:foldall-h3'
  'ctrl-alt-4': 'markdown-folder:foldall-h4'
  'ctrl-alt-5': 'markdown-folder:foldall-h5'
